#movie-result-container {
	img {
		width:150px;
		height: auto;
	}
}

.hide {
	display: none;
}

#login-error {
	color: red;
}

<<<<<<< HEAD
#displayError {
=======
#signout-error {
>>>>>>> c90749b2cba420910951c179449c895940e4a09c
	color: red;
}